<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Chitter 2: Revenge of the Peeps</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../public/style.css">
  </head>
  <body>    
    <h1>The Peeps Are Coming...</h1>
    <div id="app"></div>
    <script src="../public/js/userIdentificationBlock.js"></script>
    <script src="../public/js/userForm.js"></script>
    <script src="../public/js/chitterApiClient.js"></script>
    <script src="../public/js/peeps.js"></script>
    <script src="../public/js/index.js"></script>
  </body>
</html>